<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <img src="Imagenes/logogroot.png" alt="LogoGroot">
        <p class="navbar-brand" href="">Groot</p>
    </div>
</div>

<!--<input type="checkbox" title="Navigation menu" class="navbar-toggler" />  -->
<!--<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()"> -->
<div class="profile-section">
    <img src="https://static.vecteezy.com/system/resources/previews/027/951/137/non_2x/stylish-spectacles-guy-3d-avatar-character-illustrations-png.png" alt="Avatar" class="avatar">
    <h3>Samirsito xd</h3>
    <a class="perfil-badge" href="/Perfil">Perfil</a>
</div>

<nav class="nav flex-column">
    <div class="nav-item px-4">
        <a class="nav-link" href="/">
            <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
        </a>
    </div>



    <div class="nav-item px-3">
        <a class="nav-link" href="/Nuevohabito">
            <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Nuevo Hábito
        </a>
    </div>

    <div class="nav-item px-3">
        <a class="nav-link" href="/Estadisticas">
            <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Estadística
        </a>
    </div>

    <div class="nav-item px-3">
        <a class="nav-link" href="/Configuracion">
            <span class="bi bi-gear-fill"></span> Configuración
        </a>
    </div>
</nav>

<div class="nav-item px-3">
    <a class="nav-link" href="/Preguntas">
        <span class="bi bi-question-circle-fill" aria-hidden="true"></span> Preguntas
    </a>
</div>



<div class="dark-mode-toggle px-3">
    <label for="darkMode" class="btn btn-danger">
        <i class="bi bi-moon-fill"></i> Dark Mode
    </label>
    <label class="switch">
        <input type="checkbox" id="darkMode">
        <span class="slider"></span>
    </label>
</div>

