@page "/edit-usuario/{id:int}"
@inject HttpClient Http
@inject NavigationManager NavigationManager
@using Microsoft.AspNetCore.Components.Forms
@rendermode @(new InteractiveWebAssemblyRenderMode(prerender: false))

@if (Id == null)
{
    <h1>Crear Usuario</h1>
}
else
{
    <h1>Editar Usuario</h1>
}
<EditForm Model="Usuario" OnSubmit="HandleSubmit">
    <div>
        <label for="Apodo">Apodo:</label>
        <InputText id="Apodo" name="Apodo" @bind-value="Usuario.Apodo" class="form-control" />
    </div>
    <div>
        <label for="Edad">Edad:</label>
        <InputDate id="Edad" name="Edad" @bind-Value="Usuario.FechaNacimiento" class="form-control" />
    </div>
    <div>
        <label for="Correo">Correo:</label>
        <InputText id="Correo" name="Correo" @bind-Value="Usuario.Correo" class="form-control" />
    </div>
    <div>
        <label for="Genero">Genero:</label>
        <InputSelect id="Genero" @bind-Value="Usuario.Genero" class="form-control">
            <option value="" disabled selected>Selecione su Genero</option>
            <option value="M">Masculino</option>
            <option value="F">Femenino</option>
            <option value="O">Otro</option>
        </InputSelect>
    </div>
    <button type="submit" class="btn btn-primary">Guardar</button>
</EditForm>
    
@code {
    [Parameter]
    public int? Id { get; set; }
    public Usuario Usuario { get; set; } = new Usuario();

    protected override async Task OnParametersSetAsync()
    {
        if (Id != null)
        {
            var result = await Http.GetFromJsonAsync<Usuario>($"api/usuario/{(int)Id}");
            if (result != null)
            {
                Usuario = result;
            }
        }
    }

    private async Task HandleSubmit()
    {
        if (Id == null)
        {
            var result = await Http.PostAsJsonAsync("api/usuario", Usuario);
            if(result.IsSuccessStatusCode)
            {
                NavigationManager.NavigateTo("/");
            }
        }
        else
        {
            var result = await Http.PutAsJsonAsync($"api/usuario/{Id}", Usuario);
            if(result.IsSuccessStatusCode)
            {
                NavigationManager.NavigateTo("/");
            }
        }
    }
}