@page "/Perfil"
@attribute [StreamRendering]

<div class="Perfil-container">
	<h1>Perfil</h1>
	<label for="apodo">Apodo:</label>
	<input type="text" id="apodo" name="apodo" value="Apodo" >
	<label for="nombre">Nombre:</label>
	<input type="text" id="nombre" name="nombre" value="Nombre" >
	<label for="Edad">Edad:</label>
	<input type="text" id="Edad" name="Edad" value="Edad" >
	<label for="correo">Correo:</label>
	<input type="text" id="correo" name="correo" value="Correo" >
	<label for="genero">Genero:</label>
	<input type="text" id="genero" name="genero" value="Genero" >
</div>

